.score-area {
    border-width: 1px;
    border-bottom-width: 0;
    border-top-width: 0;

    @apply h-[25%] w-[80%] p-8
    flex flex-grow flex-col
    border-green-600
}

.fragment-area {
    border-width: 1px;
    border-bottom-width: 0;
    border-top-width: 0;

    @apply h-[70%] w-[80%] p-8
    flex flex-grow flex-col
    border-green-600
}

.line {
    height: 1px;
    border-bottom-width: 1px;

    @apply w-[80%] border-green-600
}

.cell-score {
    @apply place-items-center
    font-bold text-3xl
}

.cell-number-text {
    @apply text-green-400
    font-bold
}

.cell-production-text {
    @apply text-green-800
    font-normal
    text-base
}

.production-text {
    @apply text-green-600
    font-normal
    text-base
}